*
!/.github/
!/.github/workflows/
!/.github/workflows/workflow.yml
!/.gitignore
!/LICENSE
!/README
!/checks/
!/checks/default/
!/checks/default/default.nix
!/flake.lock
!/flake.nix
!/packages/
!/packages/default/
!/packages/default/default.nix
!/packages/default/main.py
!/packages/default/prm/
!/packages/default/prm/**
!/packages/default/test_main.py
