# Makefile requirements
autoflake
autopep8
coverage
isort

# pythonfile requirements
https://github.com/pbizopoulos/pyclientsideml/tarball/master/a6fa92122957c0ccfec6434388625e3827b757eb
matplotlib==3.5.1
onnx-tf==1.9.0
pandas==1.3.5
requests==2.27.1
scipy==1.7.3
tensorflowjs==3.13.0
