# Makefile requirements
autoflake
autopep8
coverage
isort
pipreqs
python-minimizer
pyupgrade

# main.py requirements
matplotlib==3.5.1
onnx-tf==1.9.0
pandas==1.4.1
requests==2.27.1
scipy==1.8.0
tensorflowjs==3.15.0
