.block {
  border-style: solid;
  height: 256px;
  width: 256px;
}

.container {
	display: flex;
}

.column {
	width: 50%;
}

.element-right {
       margin-left: auto;
}

nav {
       display: flex;
}
